:root {
  --color-gray: #323232;
  --color-blue: #0000FF;
  --color-pink: #fddddd;
  --color-black: #000;
  font-size: 22px;
  line-height: 26px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body { padding: 1rem; }

.allStages {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.eachStage {
    box-shadow: 5px 5px 20px var(--color-gray);
}

.eachStage > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0rem;
}

#messageArea {
  background-color: var(--color-pink);
  border-radius: 2% 3% 4% 2% / 3% 2% 2% 2%;
  margin: 5rem 0rem 1rem 0rem;
  padding: 1rem;
  height: 12rem;
}


#stage1::after {
  content: 'STAGE 1';
} 
#stage2::after {
  content: 'STAGE 2';
}
#stage3::after{
  content: 'STAGE 3';
}

#stage1::after, #stage2::after, #stage3::after{
    font-size: 0.6rem;
    font-family: sans-serif;
    font-weight: bold;
    margin: 1rem;
    padding: 0.35rem;
    box-shadow: 1rem 1rem 2rem #323232;
    border-radius: 20% 30% 48% 22% / 39% 22% 21% 29%;
    background:  var(--color-gray);
    color: var(--color-pink);
}

p.info a, p.info a:visited {
  color: var(--color-black);
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .allStages { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .allStages { grid-template-columns: repeat(3, 1fr); }
}


